table {
    border-collapse: collapse;
}

tr, td {
    border: 1px black solid;
}

td {
    padding: 10px;
    
    text-align: center;
}

.long {
    font-weight: bold;
}

.short {
    color: gray;
    font-style: italic;
}
